body {
  background-color: white;
}

.form {
  font-size: 2rem;
  font-family: monospace;
  color: aquamarine;
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -50px;
  margin-left: -50px;
}

input {
  width: 33px;
  height: 33px;
}

button {
  cursor: pointer;
  font-size: 3rem;
  background-color: white;
  border: none;
  color: black;
}
